.bg-cta {
  background: url(../../public/cta-bg.svg) no-repeat right top/cover;
}

.bg-hero {
  background: url(../../public/hero-bg.svg) no-repeat center center/cover;
}

@media screen and (max-width: 768px) {
  .bg-cta {
    background: url(../../public/cta-bg-mobile.svg) no-repeat right bottom/contain;
  }
}
